.mat-dialog-container{
  background-color: var(--input-container-background-color) !important;
}
.cdk-overlay-pane {
  background-color: var(--background-main) !important;
  border-radius: 6px !important;
}
