.mat-paginator, .mat-paginator-container {
  background-color: var(--container-background-color-transparent) !important;
  border-radius: 4px;
  border: 1px solid var(--container-background-color-transparent);
}
